.hero {
  width: 100%;
  height: 100vh;
  background-color: #0B0B0B;
  position: relative;
  overflow: hidden;
}

.hero__bg-vid {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  transform: translate(-50%, -50%);
}

// .main-title {
//   position: absolute;
//   top: 0;
//   left: 50%;
//   transform: translate(-50%, -50%);
//   z-index: 1;
//   mix-blend-mode: difference;
//   color: #fff;
// }